<div  class="container-fluid start">
    <div class="brand"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span></div>
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1 btn-group-vertical">
            <button type="button" class="btn btn-default btn-lg btn-block" ng-click="showNearest()">Find Nearest Store</button>
            <button type="button" class="btn btn-default btn-lg btn-block" ng-click="showAll()">Show All Stores</button>
        </div>
    </div>
</div>
